---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: 1440px !default;

body {
    zoom: 85%
}



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'mint' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content .archive__item-title{
    margin-top: 10px;
}